#!/usr/bin/env bash
# Shebang is only for the IDE
# This script should not be called directly. It is called by direnv

# Strict Bash
set -TCEeuo pipefail

echo ""

###################
# Common function
###################
function repm_echo_yellow(){
    YELLOW="\033[0;33m"
    NO_COLOR="\033[0m"
    echo -e "${YELLOW}$1$NO_COLOR"
}

###################
# Project Env
# Project Environment are common project variables used in script
###################
# Project Root
export ORGANISATION_NAME="gerardnico"
# Name used in env
export ORGANISATION_ENV_NAME="GERARDNICO"
# Name used in path
export ORGANISATION_PATH_NAME="gerardnico"
# Used by script to get the root
export PROJECT_ROOT="$PWD"

# Feedback
echo "Project: "
echo "   PROJECT_ROOT              : $PROJECT_ROOT"
echo "   ORGANISATION_NAME         : ${ORGANISATION_NAME}"


# Install pre-commit hooks
if command -v pre-commit &> /dev/null; then

  echo ""
  echo "Pre-commit:"
  if [ ! -f "$PROJECT_ROOT/.git/hooks/pre-commit" ]; then
      pre-commit install
      echo "   Pre-commit hooks : installed"
  else
      echo "   Pre-commit hooks : enabled"
  fi
  if [ ! -f "$PROJECT_ROOT/.git/hooks/commit-msg" ]; then
      pre-commit install --hook-type commit-msg
      echo "   Commit-msg hooks : installed"
  else
      echo "   Commit-msg hooks : enabled"
  fi

else
    echo "⚠️ pre-commit not found. Install with: pip install pre-commit"
    exit 1
fi


#################
# Bin script installation
# The installation is done by cloning the repo to a well-known location.
#################
export REPM_PREFIX="REPM"
REPM_DIR_VAR_NAME="${REPM_PREFIX}_${ORGANISATION_ENV_NAME}_DIR"
export REPM_DIR
REPM_DIR="${!REPM_DIR_VAR_NAME:-}"
if [ "$REPM_DIR" != "" ]; then
  repm_echo_yellow "$REPM_DIR_VAR_NAME variable found with the value $REPM_DIR"
else
  REPM_DIR="$PWD/../repo-manager"
  repm_echo_yellow "$REPM_DIR_VAR_NAME variable not found. Value set to: $REPM_DIR"
fi
REPM_DIR=$(realpath "${REPM_DIR}")
if [ ! -d "$REPM_DIR" ]; then

    repm_echo_yellow "REPM_DIR ($REPM_DIR) does not exist."
    REPM_REPO_URI_VAR_NAME="${REPM_PREFIX}_${ORGANISATION_ENV_NAME}_URI"
    REPM_REPO_URI="${!REPM_REPO_URI_VAR_NAME:-https://github.com/combostrap/repo-manager}"
    repm_echo_yellow "Clone $REPM_REPO_URI to $REPM_DIR? Y(Yes-Default)/N(No)"
    read -r CLONE
    if [ "$CLONE" == "" ] || [ "$CLONE" == "Y" ]; then
        git clone "$REPM_REPO_URI" "$REPM_DIR"
        repm_echo_yellow "Repo Manager repo cloned"
    fi

fi

# Exit if the repo was not installed
if [ -d "$REPM_DIR" ]; then

    #################
    # REPM
    #################
    echo ""
    echo "Repo manager: "
    echo "   Repo Directory               : $REPM_DIR"

    #################
    # Bin
    #################
    BIN_PATH="$REPM_DIR/bin"
    export PATH="$BIN_PATH:$PATH" # bin path first as it has a higher priority
    echo "   Common Scripts Path          : $BIN_PATH"
    BIN_PACKAGE_MANAGER_PATH="$REPM_DIR/bin/package-manager/none"
    export PATH="$BIN_PACKAGE_MANAGER_PATH:$PATH" # bin path first as it has a higher priority
    echo "   Package Manager Scripts Path : $BIN_PACKAGE_MANAGER_PATH"

    echo ""
    echo "Git: "
    # Git user config to set the user email and name.
    git-config-user

fi

##############################
# Load sub envrc project script
##############################
ENVRCD="$PROJECT_ROOT/.envrc.d"
echo ""
echo "Envrc.d: "
if [ -d ENVRCD ]; then
  # All file loaded in a directory should have a sh extension
  # This is how /etc/profile also work
  for file in "$ENVRCD"/*.sh; do
    # shellcheck disable=SC1090
    if [ -r "$file" ]; then
      source "$file"
      echo "   executed $file"
    fi
  done
  unset file
else
  echo "   Not found"
fi

# Last EOL before direnv output
echo ""
