sourceDir: {{ .chezmoi.homeDir }}/code/dotfiles

{{ if eq .chezmoi.hostname "MELISSA01" }}
# Melissa 01
interpreters:
  sh:
    command: "bash"
{{ end }}

{{ if eq .chezmoi.os "windows" }}
edit:
    command: "C:\\Notepad++\\notepad++.exe"
    args: [ "-multiInst", "-notabbar", "-nosession", "-noPlugin"]
{{ end }}